body {
    overflow: visible;
}

div {
    height: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}